body, ul, li, h1, h2, h3, a {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}
header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    z-index: 1;
    width: 100%;
}
header h1 {
    color: #087733;
    border: 3px outset #087733;
    display: inline-block;
    padding: 5px 15px;
    text-shadow: 1px 1px #4EB6A6;
}
.banner img {
    position: relative;
    max-width: 100%;
    margin-bottom: -4px;
}
.enter-matrix {
    background-color: #087733;
    position: absolute;
    padding: 20px;
    font-size: 50px;
    box-shadow: 5px 10px #4EB6A6;
    top: 50%;
    margin-left: 50px;
    opacity: 0.5;
}
.banner-image {
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: 0.5;
}
.banner-image img:hover {
    position: relative;
    transform: scale(1.1);
}
nav {
    background-color: #087733;
    padding: 25px;
    z-index: 1;
}
nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a {
    text-decoration: none;
    color: #000000;
    border: 2px solid black;
    padding: 10px;
    border-radius: 25%;
}
nav li a:hover {
    background-color: #4EB6A6;
}
.videos {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.videos li {
    display: inline-block;
    width: 30%;
    margin: 20px 5%;
}
.videos li iframe {
    max-width: 100%;
}
#matrix {
    animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
    @keyframes color {
        0% {
            background-color: black;
            top: 50%;
        }
        50% {
            background-color: #05491f;
            top: 100%;
        }
        100% {
            background-color: #087733;
            top: 50%;
        }
    }
.banner-image img {
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    }
    @keyframes move {
        0% {
            right: 0px;
        }
        50% {
            right: 60%;
        }
        100% {
            right: 0px;
        }
    }